@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /*variaveis*/
    --cor-primaria: #A07293;
    --cor-secundaria: #FFF8E8;
    --cor-terciaria: #F7EED3;
    --cor-destaque: #4b0737;

    --cor-hover-box: #4b0737;
    --cor-hover-shadow: #58334f;

    --cor-branca: #fefefe;
    --cor-preta: #000000;

    --fonte-primaria: "Martian Mono", monospace;

    height: 100%;
    font-family: var(--fonte-primaria);
    color: var(--cor-preta);
}

/* header */

.bg-white {
    background-color: var(--cor-branca) !important;
}

/* banners */

.banners {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*imagem fixa quando rola = paralax*/
}

.banner-1 {
    background-image: url(/assets/imagens/curriculo.jpg);
}

.banner-2 {
    background-image: url(/assets/imagens/isabela.jpeg);
}

.banners-titulo {
    --bs-bg-opacity: .3;
    /*valores de 0 a 1*/
}